In [1]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: pip3.13 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

Ejercicio 1. Crear una serie de pandas con el siguiente arreglo

In [4]:
edades = [23, 45, 12, 67, 34, 89, 22, 18]

In [5]:
edades

[23, 45, 12, 67, 34, 89, 22, 18]

In [6]:
serie=pd.Series(edades)

In [7]:
serie

0    23
1    45
2    12
3    67
4    34
5    89
6    22
7    18
dtype: int64

Una serie es una lista numerada por un índice

Ejercicio 2. Obtener los primeros 5 registros utilizando head

In [8]:
serie.head()

0    23
1    45
2    12
3    67
4    34
dtype: int64

Obtener los últimos 3 registros utilizando tail

In [10]:
serie.tail(3)

5    89
6    22
7    18
dtype: int64

<h1>Ejercicio 3</h1>

In [11]:
serie

0    23
1    45
2    12
3    67
4    34
5    89
6    22
7    18
dtype: int64

In [12]:
#Para obtener el valor minimo
serie.min()

np.int64(12)

In [13]:
#Para obtener el valor maximo 
serie.max()

np.int64(89)

In [14]:
#Valor promedio
serie.mean()

np.float64(38.75)

<h1>Ejercicio 4</h1>

In [15]:
#Obtener el valor de la segunda posicion de la serie 
serie[1]

np.int64(45)

In [16]:
#otra forma de obtener el valor de la segunda posicion
serie.get(1)

np.int64(45)

<h1>Ejercicio 5</h1>

In [18]:
#Obtener los registros que tengan un valor igual a 22
serie==22

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [19]:
serie[serie==22]

6    22
dtype: int64

<h1>Ejercicio 6</h1>

In [25]:
#Creamos una nueva serie 
edades2=[2,3,4,23,11,44,55,2]
serie2=pd.Series(edades2)

In [26]:
serie2

0     2
1     3
2     4
3    23
4    11
5    44
6    55
7     2
dtype: int64

In [28]:
#Hacemos una suma de las dos series 
serie + serie2

0     25
1     48
2     16
3     90
4     45
5    133
6     77
7     20
dtype: int64

In [29]:
#Creamos una serie de disntinto tamaño
edades3=[40]

In [30]:
serie3=pd.Series(edades3)

In [31]:
serie2 + serie3

0    42.0
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64